

body {
	height: 100%;
	margin: 0;
	background: white;
	font-family: sans-serif;
	font-weight: 100;}

.bart101{

  text-align: left;
  font-size: 50px;
  padding-top: 15px;
  padding-left: 100px;
  position: relative;
}


h2 { 
	border: 2px solid black;
	background-color: #f5f5ef; 
	padding-left: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	}


h3 {
	padding-left: 30px;
	text-decoration: underline;
	font-family: 'Poppins', sans-serif;
}

h4 {
	border: 2px ;
	font-size: 25px;
	padding-left: 30px;
	font-family: 'Poppins', sans-serif;
	}

h5 {
	padding-left: 5%;
	text-decoration: underline;
	font-size: 25px;
	font-family: 'Poppins', sans-serif;
	}

#test1{
margin: auto;
padding-left: 50px;
  }

p, ul {
	padding-left: 40px;
	padding-right: 40px;
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
}

ol {
	padding-left: 10%;
	padding-right: 10%;
	line-height: 1.5;
	font-size: 20px;
	margin: auto;
	font-family: 'Barlow', sans-serif;
}


.mojitoimg	{	
		
		margin-left: 10%;
		margin-top: 7%;
		padding: 10px; 
		max-width: 80%;
		height: auto;
	}

.column {
  float: left;
  width: 50%;
}

#tips{
	padding-left: 50px;
    font-style: italic;
    font-family:'Zen Kaku Gothic Antique', sans-serif; 
    font-size: 20px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

nav {
  float: center;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  padding-bottom: 20px;
  position: relative;

}

nav li {
  display: inline-block;
  margin-left: 30px;
  padding-top: 15px;


  position: relative;
}

nav a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

/*-----footer-----*/

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}



.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

